@media only screen and (max-width: 600px) {
    #Main {
        background-color: azure;
        width: 80%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 20px;
        border-radius: 5px;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 768px) {
    #Main {
        background-color: azure;
        width: 80%;
        height:600px;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 20px;
        border-radius: 5px;
        margin-top: 20px;
    }
}

#Main {
    background-color: azure;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}